
.main-heading
{
	font-size: 50px;
	text-align: center;;
}
.subheading
{
text-align: center;
font-size: 20px;
}
.img
{
	margin-left: 400px;
}


.loginheading
{
	
	text-align: center;
	font-size: 30px;


}
.loginbutton
{
	margin-top: 20px;
	text-align: center;
	
	

}
