/* common css */
.marginB15{
  margin-bottom: 15px;
}

.marginL15{
  margin-left: 15px;
}

.marginT15{
  margin-top: 15px;
}
.marginT4per{
  margin-top: 4%;
}

.marginB4per{
  margin-bottom: 4%;
}

.text-align-center{
  text-align: center;
}
/* data grid css */
.data-grid{
  display: table;
  width: calc(100% - 90px);
}

.data-grid-header{
  font-weight: 600;
}

.data-grid-header, .data-grid-row{
  display: table-row;
}
.data-grid-column{
  padding: 0.5%;
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  display: table-cell;
  float: none;
}

.data-grid-row:last-child .data-grid-column, .data-grid-header:last-child .data-grid-column{
  border-bottom: 1px solid lightgray;
}
.data-grid-column:last-child{
  border-right: 1px solid lightgray;
}
.data-grid-checkbox{
    padding: .2% 2%;
}
.data-grid-checkbox input[type="checkbox"]{
  height: 20px;
  width: 20px;
}

/* end data grid css*/

.inline{
  display:inline;
}

.spaced{
  margin-left:1em;
  margin-right:1em;
}
