/* common css */
.marginB15{
  margin-bottom: 15px;
}

.marginL15{
  margin-left: 15px;
}

.marginT15{
  margin-top: 15px;
}
.marginT4per{
  margin-top: 4%;
}
.marginT2per{
  margin-top: 2%;
}
.marginB4per{
  margin-bottom: 4%;
}

.marginT2per{
  margin-top:2%;
}

.text-align-center{
  text-align: center;
}
/* data grid css */
    .data-grid{
  display: table;
  margin-left: 0px;
  padding-left: 0px;
}

.data-grid-header{
  font-weight: 600;
}

.data-grid-header, .data-grid-row{
  display: table-row;
}
.data-grid-column{
  padding: 5px 10px;
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  display: table-cell;
  float: none;
}

.data-grid-row:last-child .data-grid-column, .data-grid-header:last-child .data-grid-column{
  border-bottom: 1px solid lightgray;
}
.data-grid-column:last-child{
  border-right: 1px solid lightgray;
}
.data-grid-checkbox{
    padding: .2% 2%;
}
.data-grid-checkbox input[type="checkbox"]{
  height: 20px;
  width: 20px;
}

.no-border .data-grid-column{
  border: 0px solid lightgray;
}
.data-grid-column .search-text{
  width: 100%;
  padding: 3px 10px;
  margin-bottom: 8px;
}

.data-grid .srno-column{
  min-width: 70px;
}
/* end data grid css*/

.inline{
  display:inline;
}

.spaced{
  margin-left:1em;
  margin-right:1em;
}

.info, .success, .warning, .error {
margin: 10px 0px;
padding:12px;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
}
.info i, .success i, .warning i, .error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}
select{
  display: block;
  padding: 6px 12px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  height: 34px;
  width: 100%;
}

option.modified{
  z-index: 1000;
  height: 34px;
}
.form-group{
  width:50% !important;

}

#addPOForm{
  margin-top:2%;
}

/* search css */
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
/* end search css */


 .style-login-button{
   float:right;
   margin-right:10%;
 }
