<template name="stock">
  <!-- needs to work in future -->
  {{#if 1}}
  <div id="stock-assets" class="container-fluid data-grid">
    <div class="row data-grid-row no-border">
      <div class="srno-column data-grid-column"></div>
      <div class="col-md-1 data-grid-column">
        <input type="text" class="search-text" placeholder="Type" id="stock-search-type" value="" />
      </div>
      <div class="col-md-1 data-grid-column">
        <input type="text" class="search-text" placeholder="Make" id="stock-search-make" value="" />
      </div>
      <div class="col-md-2 data-grid-column">
        <input type="text" class="search-text" placeholder="Model" id="stock-search-model" value="" />
      </div>
      <div class="col-md-1 data-grid-column">
        <input type="text" class="search-text" placeholder="Serial Number" id="stock-search-serialno" value="" />
      </div>
      <div class="col-md-1 data-grid-column"></div>
      <div class="col-md-1 data-grid-column"></div>
      <div class="col-md-1 data-grid-column"></div>
      <div class="col-md-2 data-grid-column"></div>
      <div class="col-md-1 data-grid-column"></div>
      <div class="col-md-1 data-grid-column"></div>
    </div>
    <div class="row data-grid-header">
      <div class="srno-column data-grid-column">Sr No.</div>
      <div class="col-md-1 data-grid-column">Type</div>
      <div class="col-md-1 data-grid-column">Make</div>
      <div class="col-md-1 data-grid-column">Model</div>
      <div class="col-md-1 data-grid-column">Serial Number</div>
      <div class="col-md-1 data-grid-column">OEM / NonOEM </div>
      <div class="col-md-1 data-grid-column">OS(Live)</div>
      <div class="col-md-1 data-grid-column">CPU(MHz)</div>
      <div class="col-md-2 data-grid-column">CPU Type</div>
      <div class="col-md-1 data-grid-column">Memory</div>
      <div class="col-md-1 data-grid-column">Disk Size(MB)</div>
      <div class="col-md-1 data-grid-column">Decommision</div>
      <div class="col-md-1 data-grid-column">Allocate</div>
    </div>
    {{#each assets}}
    <div class="row data-grid-row">
      <div class="srno-column data-grid-column"><i class="glyphicon glyphicon-eye-open open-history" style="margin-right:10px"></i>{{srno}}</div>
      <div class="col-md-1 data-grid-column">{{type}}</div>
      <div class="col-md-1 data-grid-column">{{make}}</div>
      <div class="col-md-1 data-grid-column">{{model}}</div>
      <div class="col-md-1 data-grid-column">{{serialno}}</div>
      <div class="col-md-1 data-grid-column">{{assetdetails.oem}}</div>
      <div class="col-md-1 data-grid-column">{{assetdetails.os}}</div>
      <div class="col-md-1 data-grid-column">{{assetdetails.cpu}}</div>
      <div class="col-md-2 data-grid-column">{{assetdetails.cputype}}</div>
      <div class="col-md-1 data-grid-column">{{assetdetails.memory}}</div>
      <div class="col-md-1 data-grid-column">{{assetdetails.disk}}</div>
      <div class="col-md-1 data-grid-column">
        <button type="button" class="btn btn-danger btn-decommission">Decommission</button>
      </div>
      <div class="col-md-1 data-grid-column">
        <button type="button" class="btn btn-primary open-allocate-modal"  data-toggle="modal" data-target="#allocateModal">Allocate</button>
      </div>
    </div>
    {{/each}}
    
  </div>
  {{else}}
  <p>
    We don't have any asset in stock.
  </p>
  {{/if}}
  <div class="container-fluid data-grid">
  {{#if showHistory}}
  <h3>History</h3>
	  <div id="history">
	    	{{> history}}
	    
    </div>
    {{/if}}
  </div>
    <!-- Modal -->
  <div class="modal fade" id="allocateModal" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Allocate To Employee</h4>
        </div>
        <div class="modal-body">
          <input type="text" id="allocateEmpId" placeholder="Employee Id">
        </div>
        <div class="modal-footer">
          <button id="allocate-asset-to-emp" type="button" class="btn btn-primary  btn-allocate" data-dismiss="modal" disabled="{{disableConfirmAllocate}}">Confirm</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>
