<template name="verifyAsset">
  {{#if assets.length}}
  <div id="verify-asset-assets" class="container-fluid data-grid">
    <div class="row data-grid-header">
      <div class="col-md-1 data-grid-column">Sr No.</div>
      <div class="col-md-2 data-grid-column">PO Number</div>
      <div class="col-md-2 data-grid-column">Supplier</div>
      <div class="col-md-2 data-grid-column">Device Serial Number</div>
      <div class="col-md-2 data-grid-column">Delivery Challan</div>
      <div class="col-md-2 data-grid-column">Description</div>
      <div class="col-md-2 data-grid-column">Action</div>
    </div>
    {{#each assets}}
    <div class="row data-grid-row">
      <div class="col-md-1 data-grid-column">{{srno}}</div>
      <div class="col-md-2 data-grid-column">{{ponumber}}</div>
      <div class="col-md-2 data-grid-column">{{supplier}}</div>
      <div class="col-md-2 data-grid-column">{{serialno}}</div>
      <div class="col-md-2 data-grid-column">{{deliverychallan}}</div>
      <div class="col-md-2 data-grid-column">{{description}}</div>
      <div class="col-md-2 data-grid-column">
        <button type="button" class="btn btn-link verify-btn">Verify</button>
        <button type="button" class="btn btn-link">Return</button>
      </div>
    </div>
    {{/each}}
  </div>

  <div class="text-align-center marginT15">
    <button type="button" id="btn-verify-assets" class="btn btn-primary">Verify All Assets</button>
  </div>
  {{else}}
  <p>
    You don't have any asset verification request
  </p>
  {{/if}}
</template>
