<template name="developer">

    <ul>
        <li>
            <a href="{{pathFor 'admin'}}">Go to admin page.</a>
        </li>
        <li>
            <a href="{{pathFor 'security'}}">Go to security page.</a>
        </li>
        <li>
            <a href="{{pathFor 'projectmanager'}}">Go to projectmanager page.</a>
        </li>
        <li>
            <a href="{{pathFor 'employee'}}">Go to employee page.</a>
        </li>
    </ul>
    <h5>This is a developer page and will be removed before deploying in production.</h5>

</template>