<template name="assetToEmployee">
  <div class="container">
    <div class="row">
      <div class="form-group">
        <label>
          Type
        </label>
        <select id="type-select">
            <option disabled="disabled" selected="selected">Select Type</option>
            {{#each type}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
      </div>

      <div class="form-group">
        <label >Serial Number</label>
        <select id="serial-number-select" disabled="{{apple}}">
            <option disabled="disabled" selected="selected">Select Serial Number</option>
            {{#each serialNumberList}}
                <option value="{{serialno}}">{{serialno}}</option>
            {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label>
          Emp Id
        </label>
        <input class="form-control" type="text" id="empid">
      </div>

    <div class="form-group">
        <button id="assign-asset-to-emp" type="button">
        Assign
        </button>
      </div>
    </div>
  </div>
</template>
