<template name="assetFromEmployee">
  <div class="container-fluid">
    <div class="row">
      <div class="input-group col-md-3">
        <div class="input-group stylish-input-group">
          <input type="text" class="form-control" id="searchEmployee" placeholder="Search Employee">
          <span class="input-group-addon" id="btn-searchEmployee">
            <button type="submit" class="search-employee">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </div>
    </div>
    <div class="marginT4per row">
      {{#if assetsOfEmployee.length}}
      <div id="employee-assets" class="container data-grid">
        <div class="row data-grid-header">
          <div class="col-md-2 data-grid-column">Type</div>
          <div class="col-md-2 data-grid-column">Make</div>
          <div class="col-md-2 data-grid-column">Model</div>
          <div class="col-md-3 data-grid-column">Serial Number</div>
          <div class="col-md-3 data-grid-column">Action</div>

        </div>
        {{#each assetsOfEmployee}}
        <div class="row data-grid-row">
          <div class="col-md-2 data-grid-column">{{type}}</div>
          <div class="col-md-2 data-grid-column">{{make}}</div>
          <div class="col-md-2 data-grid-column">{{model}}</div>
          <div class="col-md-3 data-grid-column">{{serialno}}</div>
          <div class="col-md-3 data-grid-column">
            <button id="return-asset" type="button" data-toggle="modal" data-target="#confirmReturnModal" >
              Return
            </button>
          </div>
        </div>
        {{/each}}
      </div>

      {{/if}}
    </div>


    <!-- Modal -->
  <div class="modal fade" id="confirmReturnModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Confirm</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to return. {{tobeReturned}}</p>
        </div>
        <div class="modal-footer">
          <button id="return-asset-confirm" type="button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>
