<template name="assetToEmployee">
  <div class="container marginT2per">
    {{#if information.length}}
      {{#each information}}
        <div class="success"><i class="fa fa-check"></i>{{this}}</div>
      {{/each}}
    {{/if}}
      <div class="row">
      <div class="data-grid container-fluid marginT2per">
        {{#if markedAssets.length}}
        <div class="row data-grid-header">
          <div class="col-md-2 data-grid-column">Emp Id</div>
          <div class="col-md-2 data-grid-column">Type</div>
          <div class="col-md-2 data-grid-column">Make</div>
          <div class="col-md-2 data-grid-column">Model</div>
          <div class="col-md-2 data-grid-column">Serial Number</div>
          <div class="col-md-2 data-grid-column">Action</div>
        </div>
        {{#each markedAssets}}
        <div class="row data-grid-row">

          <div class="col-md-2 data-grid-column">{{empid}}</div>
          <div class="col-md-2 data-grid-column">{{type}}</div>
          <div class="col-md-2 data-grid-column">{{make}}</div>
          <div class="col-md-2 data-grid-column">{{model}}</div>
          <div class="col-md-2 data-grid-column">{{serialno}}</div>
          <div class="col-md-2 data-grid-column">
	          <button class="btn btn-primary security-assign" type="button" data-toggle="modal" data-target="#confirmModal" disabled="{{disableAssign}}">
	           Assign
	          </button>
	      </div>

        </div>
        {{/each}}
        {{/if}}
      </div>
    </div>


    <!-- Modal -->
  <div class="modal fade" id="confirmModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Confirm</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to assign.</p>
        </div>
        <div class="modal-footer">
          <button id="give-asset-to-emp" type="button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  </div>
</template>
