<template name="assetToEmployee">
  <div class="container">
    {{#if information.length}}
      {{#each information}}
        <div class="success"><i class="fa fa-check"></i>{{this}}</div>
      {{/each}}
    {{/if}}
    <div class="row">
      <div class="form-group">
        <label>
          Type
        </label>
        <select id="type-select" required>
            <option disabled="disabled" selected="selected">Select Type</option>
            {{#each type}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
      </div>

      <div class="form-group">
        <label >Serial Number</label>
        <select id="serial-number-select" disabled="{{apple}}" required>
            <option disabled="disabled" selected="selected">Select Serial Number</option>
            {{#each serialNumberList}}
                <option value="{{serialno}}">{{serialno}}</option>
            {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label>
          Emp Id
        </label>
        <input class="form-control" type="text" id="empid" required>
      </div>

    <div class="form-group">
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#confirmModal" disabled="{{disableAssign}}">
        Assign
        </button>
      </div>
    </div>

    <!-- Modal -->
  <div class="modal fade" id="confirmModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Confirm</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to assign.</p>
        </div>
        <div class="modal-footer">
          <button id="assign-asset-to-emp" type="button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  </div>
</template>
