<template name="assetFromEmployee">
  <div class="container">
      <div class="row">
        <div id="custom-search-employee">
          <div class="input-group col-md-4" style="margin-top:1%;margin-left:1%">
            <input class="form-control input-sm " id="searchEmployee" placeholder="Search Employee" type="text">
              <span class="input-group-btn">
                <button class="btn btn-info btn-sm search-employee" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
          </div>
        </div>
      </div>
<div class="marginT4per">
{{#if employeeHasAssets}}
      <div id="employee-assets" class="data-grid">
        <div class="row data-grid-header">
          <div class="col-md-1 data-grid-column">Type</div>
          <div class="col-md-1 data-grid-column">Make</div>
          <div class="col-md-2 data-grid-column">Model</div>
          <div class="col-md-1 data-grid-column">Serial Number</div>

        </div>
        {{#each assetsOfEmployee}}
        <div class="row data-grid-row">
          <div class="col-md-1 data-grid-column">{{type}}</div>
          <div class="col-md-1 data-grid-column">{{make}}</div>
          <div class="col-md-2 data-grid-column">{{model}}</div>
          <div class="col-md-1 data-grid-column">{{serialno}}</div>
        </div>
        {{/each}}
      </div>


    <div class="row">
      <div class="col-md-4" style="margin-top:7%">
        <button id="assign-asset-to-emp" type="button">
        Update
        </button>
      </div>
    </div>
{{/if}}
</div>
  </div>
</template>
