<template name="poItem">
    <div class="col-md-1 data-grid-column">{{poNumber}}</div>
    <div class="col-md-2 data-grid-column">{{supplier}}</div>
    <div class="col-md-1 data-grid-column">{{type}}</div>
    <div class="col-md-2 data-grid-column">{{make}}</div>
    <div class="col-md-2 data-grid-column">{{model}}</div>
    <div class="col-md-1 data-grid-column">{{quantity}}</div>
    <div class="col-md-1 data-grid-column">{{remainingQuanity}}</div>
    <div class="col-md-2 data-grid-column"><button type="button" class="btn-success add-to-asset">{{action}}</button></div>
</template>
